<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/main.css" rel="stylesheet">
    <link href="/styles/post.css" rel="stylesheet">
    <link href="/styles/create-post.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/271daf54e1.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>