<nav>
    <div class="logo">
        <p><a href="/">SimplePost</a></p>
    </div>
    <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
    </div>
    <ul>
        <li class="post-create-btn"><a href="/posts/create">Create</a></li>
        <li class="login-btn"><a href="/">Sign In</a></li>
    </ul>
</nav>
