<nav>
    <div class="logo">
        <p><a href="/">SimplePost</a></p>
    </div>
    <ul>
        <li class="post-create-btn"><a href="/posts/create">Create</a></li>
        <li class="login-btn"><a href="/">Sign In</a></li>
    </ul>
</nav>
