
.blog-create-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.blog-create-content {
    border-radius: 30px;
    background-color: #383938;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
}

.blog-create-content form label {

    color:white;
    font-size: 25px;
}

.blog-create-content form input, textarea {
    width: 300px;
    height: 30px;
    background-color:  #383938;
    color: rgb(255, 255, 255);
    resize: none;
    padding: 6px;
    border-color: rgb(255, 255, 255) s;
    border-style: none none solid none;
    border-width: 2px;
    margin: 7px 0;
}

.blog-create-container form textarea {
    height: 50px;
}

.blog-create-content form input:hover, textarea:hover {
    border-color: rgb(64, 157, 219);
}

.post-button {
    display: flex;
    justify-content: center;
}

.blog-create-content button {
    background-color: rgb(64, 157, 219);
    border: white solid 1px;
    color: white;
    padding: 13px 25px;
    margin-top: 20px;
    font-size: 15px;
    
}

.blog-create-content button:hover {
    border: rgb(64, 157, 219) solid 1px;
    background-color: white;
    color: rgb(64, 157, 219);
}

