* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

body {
    background-color: #494B49;
}

nav {
    background-color: #202120;
    height: 80px;
    
}

nav, nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: white;
    font-size: 30px;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

.logo {
    margin:30px;
    font-size: 43px;
}

.login-btn {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #202120;
    color: white;
    display: grid;
    align-self: flex-end;
    justify-content: center;
    align-items: end;
    padding: 15px;
}

/* posts */

.posts-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-post-container {
    width: 500px;
    height: 400px;
    background-color: #383938;
    border-radius: 15px;
    margin: 30px 0;
}

.post-name {
    font-size: 25px;
    background-color: aqua;
    border-color: brown;
    border: 3px;
    border-style: dashed;  
}

.post-tag {
    background-color: aqua;
    border-color: brown;
    border: 3px;
    border-style: dashed;
}

.post-content {
    background-color: aqua;
    border-color: brown;
    border: 3px;
    border-style: dashed;
}