* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #494B49;
}

nav {
    background-color: #202120;
    height: 80px;
    margin-bottom: 35px;
}

nav, nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: white;
    font-size: 30px;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

.logo {
    margin:30px;
    font-size: 43px;
}

.login-btn {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

footer {
    margin-top: auto;
    background-color: #202120;
    color: white;
    display: flex;
    bottom: end;
    justify-content: center;
    padding: 15px;
}


/* posts */

.posts-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.single-post-container {
    width: 800px;
    height: 320px;
    background-color: #383938;
    border-radius: 15px;
    margin: 30px 0;
}

.single-post-container img {
    margin: 8px;
    position: absolute;
    width: 70px;
    border-radius: 100px;
}

.without-image-single-post {
    display: grid;
    grid-template-columns: fit-content;
    row-gap: 8px;
    margin: 9px;
}

.post-name {
    margin-top: 5px;
    margin-left: 78px;
    font-size: 22px;
    color: white;
}

.post-tag {
    margin-left: 78px;
    color: white;
}

.post-content {
    margin-top: 22px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}