<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <%- include('../nav.ejs') %>
        <div class="blog-create-container">
            <div class="blog-create-content">
                <form method="POST" action="/posts">
                    <label for="title">Title</label></br>
                    <input type="text" name="title" id="title" required></br>
    
                    <label for="tag">Tag</label></br>
                    <input type="text" name="tag" id="rag" required></br>
    
                    <label for="content">Content</label></br>
                    <textarea name="content" id="content" required></textarea></br>
                    <div class="post-button">
                        <button>Post</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('../footer.ejs') %>
    </body>
</html>