<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <%- include('../nav.ejs') %>

        <div class="content-container">
            <a class="single-post">
                <h3>Post-Name</h3>
                <p>#Post</p>
            </a>
        </div>

        <%- include('../footer.ejs') %>
    </body>
</html>