<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <%- include('../nav.ejs') %>
    
        <div class="posts-container">
            <div class="single-post-container">
                <a class="single-post">
                    <h3 class="post-name">Post-Name</h3>
                    <p class="post-tag">#Post</p>
                    <p class="post-content">Help me</p>
                </a>
            </div>
        </div>

        <%- include('../footer.ejs') %>
    </body>
    <script>
        setTimeout(function(){
            window.location.reload();
        }, 2000);
    </script>
</html>